*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.fontzero {
  font-size: 0;
}

.clear {
  clear: both;
}

.container {
  width: 100%;
  float: left;
}

.content {
  width: 92%;
  float: left;
  margin: 0 4%;
  padding: 20px 0;
}

.header {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF));
  background-color: #19B4FF;
  height: 80px;
  position: fixed;
  z-index: 99;
  color: #fff;
  box-shadow: 0px 0px 0px #000;
  top: 0;
  left: 0;
}

.header h1 {
  float: left;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  font-family: 'Lato', sans-serif;
}

.header .btn-mobile {
  width: 40px;
  height: 40px;
  background-color: #fff;
  float: right;
  border: 1px solid #000;
  position: relative;
  cursor: pointer;
  transition: border-radius .5s;
}

.header .btn-mobile:hover {
  background-color: #fff;
}

.header .btn-mobile span {
  width: 30px;
  height: 4px;
  background-color: #000;
  left: 4px;
  position: absolute;
  transition: all .5s;
}

.header .btn-mobile span:nth-child(1) {
  top: 8px;
}

.header .btn-mobile span:nth-child(2) {
  top: 17px;
}

.header .btn-mobile span:nth-child(3) {
  top: 26px;
}

.header .nav {
  background-color: #19B4FF;
  width: 80%;
  max-width: 300px;
  position: fixed;
  left: -100%;
  top: 0;
  transition: left .5s;
}

.header .nav ul {
  margin-top: 80px;
}

.header .nav ul a {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF));
  background-color: #19B4FF;
  display: block;
  margin-top: 2px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.header .nav ul a i {
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
}

.header .nav .profile {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF));
  width: 100%;
  height: 80px;
  float: left;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.header .nav .profile img {
  width: 80px;
  height: 80px;
  float: left;
  border: 5px solid #fff;
}

.header .nav .profile p {
  margin-top: 15px;
  text-decoration: underline;
}

.header .nav .profile a {
  color: #fff;
}

.header .nav .profile .btn {
  padding: 10px;
  width: 100px;
  margin: 5px 0px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6e07c1), color-stop(100%, #A02BFF));
  background-color: #9926F6;
  color: #fff;
  border: 1px solid #fff;
}

.cargo-adm {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #c82273), color-stop(100%, #e24a35));
  background-color: #DE4340;
  display: block;
  text-align: center;
}

.cargo-mod {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF));
  background-color: #19B4FF;
  display: block;
  text-align: center;
}

main {
  display: block;
  margin-top: 100px;
}

.section-regras {
  background: #f9f9f9;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1em;
  padding-bottom: 100px;
}

.section-regras h2 {
  text-align: center;
  position: relative;
  color: #6666FF;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0px;
  background: #fff;
  margin-bottom: 50px;
}

.section-regras .triangulo {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50px;
  bottom: -100px;
  border: 50px solid transparent;
  border-top-color: #fff;
}

.section-regras .sobre {
  margin: 15px 0px;
}

.section-regras .sobre h3 {
  text-align: center;
  padding: 10px 0px;
}

.section-regras .sobre p {
  padding: 10px 0px;
  text-align: justify;
}

.section-regras .art-equipe {
  width: 100%;
}

.section-regras .art-equipe .content-regras {
  width: 100%;
}

.section-regras .art-equipe .content-regras p {
  border-bottom: 1px solid #f1f1f1;
  padding: 30px 0px;
  text-align: justify;
}

.section-regras .art-equipe .content-regras p span {
  color: #f00;
  font-weight: bold;
}

.section-regras .art-equipe .content-regras p:last-child {
  border: none;
}

.section-regras .art-equipe .content-regras .runas {
  width: 100%;
  text-align: center;
  display: block;
  padding: 30px 0px 10px 0px;
}

.section-regras .art-equipe .content-regras .runas img {
  width: 50px;
  height: 50px;
}

.section-regras .art-equipe .content-regras .obs {
  background: #FFFF00;
  margin: 15px 0px;
  padding: 5px 0px;
  font-weight: bold;
}

.equipe {
  width: 100%;
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

.equipe h2 {
  text-align: center;
  position: relative;
  color: #6666FF;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0px;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.equipe .triangulo {
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50px;
  top: -100px;
  border: 50px solid transparent;
  border-bottom-color: #fff;
}

.equipe .flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.equipe .flex .box {
  background-color: #fff;
  width: 200px;
  min-width: 248.212px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
}

.equipe .flex .box img {
  width: 100%;
  height: 200px;
}

.equipe .flex .box h3 {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px 0px;
}

.equipe .flex .box p {
  font-size: .8em;
  font-weight: 300;
  padding: 5px 0px 10px 0px;
}

footer.footer {
  height: 80px;
  background-color: #000;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

footer.footer p {
  color: #fff;
}

footer.footer p span {
  color: #6666FF;
  font-weight: bold;
}

.membros h2 {
  text-align: center;
  color: #6666FF;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #fff;
  padding: 20px 0px;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial;
}

.table {
  width: 100%;
  margin-bottom: 20px;
}

.table th, .table td, .table tr {
  font-size: 12px;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
  background-color: #005dab;
}

.table td:last-child {
  border-right: 0;
}

.table thead th {
  font-weight: normal;
  background-color: #005dab;
  color: #fff;
  font-size: 15px;
}

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th {
  background-color: #C9DFF0;
}

.table tbody > tr:nth-child(even) > td,
.table tbody > tr:nth-child(even) > th {
  background-color: #f1f1f1;
}

.table tbody > tr:nth-child(even) > td select,
.table tbody > tr:nth-child(even) > th select {
  width: 100%;
  border: 1px solid #fff;
  background-color: inherit;
  padding: 2px;
}

.table tbody > tr:nth-child(even) > td button,
.table tbody > tr:nth-child(even) > th button {
  padding: 4px;
  width: 100%;
  border: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6e07c1), color-stop(100%, #A02BFF));
  background-color: #9926F6;
  color: #fff;
  border: 1px solid #fff;
}

@media (max-width: 767px) {
  .table-responsive {
    display: block;
    position: relative;
    width: 100%;
  }
  .table-responsive thead, .table-responsive tbody, .table-responsive th, .table-responsive td, .table-responsive tr {
    display: block;
  }
  .table-responsive td, .table-responsive th {
    height: 40px;
  }
  .table-responsive thead {
    float: left;
  }
  .table-responsive tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  .table-responsive tbody tr {
    display: inline-block;
  }
}

.states {
  font-size: 1em;
}

.alinhar {
  margin: 0 auto;
  max-width: 500px;
}

.alinhar .stat-head span {
  color: #f00;
}

.alinhar input {
  width: 100px;
  padding: 5px;
}

.alinhar ul {
  margin: 10px 0px;
  border: 1px solid #ccc;
  width: 100%;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF));
}

.alinhar ul li {
  width: 100%;
  display: table;
  padding: 5px 10px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF));
  border-bottom: 1px dotted #fff;
}

.alinhar ul li:last-child {
  border-bottom: transparent;
}

.alinhar ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}

.alinhar ul li span {
  text-align: right;
  display: table-cell;
  color: #f00;
  font-weight: bold;
}

.alinhar select {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF));
  outline: none;
  border: none;
  color: #fff;
}

.alinhar select option {
  font-size: 15px;
}

.alinhar select .power {
  background: #f00;
}

.alinhar select .life {
  background: #0f0;
}

.alinhar select .speed {
  background: yellow;
}

.alinhar select .stamina {
  background: #00f;
  color: #fff;
}

.alinhar button {
  padding: 10px;
  width: 100px;
  margin: 5px 0px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #6e07c1), color-stop(100%, #A02BFF));
  background-color: #9926F6;
  color: #fff;
  border: 1px solid #fff;
}
