// VARIAVEIS //
$bgGray: #f9f9f9

// HELPERS SASS //
.cargo-adm
    color: #fff
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c82273), color-stop(100%,#e24a35))
    background-color: #DE4340
    display: block
    text-align: center
.cargo-mod
    color: #fff
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A02BFF), color-stop(100%,#00CEFF))
    background-color: #19B4FF
    display: block
    text-align: center

h2
    text-align: center
    position: relative
    color: #6666FF
    font-family: 'Roboto', sans-serif
    text-transform: uppercase
    letter-spacing: 2px
    padding: 50px 0px
    background: #fff
    margin-bottom: 50px
    .triangulo
        position: absolute
        left: 50%
        right: 50%
        margin-left: -50px
        bottom: -100px
        border: 50px solid transparent
        border-top-color: #fff

// RESET //
*, *:before, *:after
    margin: 0
    padding: 0
    box-sizing: border-box
    // font-family: 'Open Sans', sans-serif

a
    text-decoration: none
ul
    list-style: none

button
    cursor: pointer

// BOOT //
.fontzero
    font-size: 0 !important
    padding: 0 !important
    margin: 0 !important
.clear
    clear: both

.container
    width: 100%
    float: left

.content
    width: 92%
    float: left
    margin: 0 4%
    padding: 20px 0

// CONTEUDO //
// HEADER //
.header
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A02BFF), color-stop(100%,#00CEFF))
    background-color: #19B4FF
    height: 80px
    position: fixed
    z-index: 99
    color: #fff
    box-shadow: 0px 0px 0px #000
    top: 0
    left: 0
    h1
        float: left
        color: #fff
        text-shadow: 2px 2px 1px #000
        font-family: 'Lato', sans-serif
    .btn-mobile
        background-color: transparent
        float: right
        position: relative
        cursor: pointer
        transition: border-radius .5s
        span
            width: 35px
            height: 5px
            background-color: #fff
            transition: all .5s
            display: block
            margin: 6px auto
    .change .bar1
        transform: rotate(-45deg) translate(-9px, 6px)
    .change .bar2
        opacity: 0
    .change .bar3
        transform: rotate(405deg) translate(-8px, -8px)
    // MENU LATERAL //
    .nav
        background-color: #19B4FF
        width: 80%
        max-width: 300px
        position: fixed
        left: -100%
        top: 0
        transition: left .5s
        ul
            margin-top: 80px
            a
                color: #fff
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A02BFF), color-stop(100%,#00CEFF))
                background-color: #19B4FF
                display: block
                margin-top: 2px
                padding: 20px
                font-family: 'Open Sans', sans-serif
                i
                    width: 20px
                    height: 20px
                    // background-color: #f00
                    color: #fff
                    text-align: center
        .profile
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#A02BFF), color-stop(100%,#00CEFF))
            width: 100%
            height: 80px
            float: left
            color: #fff
            font-family: 'Open Sans', sans-serif
            text-align: center
            img
                width: 80px
                height: 80px
                float: left
                border: 5px solid #fff
            p
                margin-top: 15px
                text-decoration: underline
            a
                color: #fff
            .btn
                padding: 10px
                width: 100px
                margin: 5px 0px
                border: none
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6e07c1), color-stop(100%,#A02BFF))
                background-color: #9926F6
                color: #fff
                border: 1px solid #fff

// MAIN //
main
    display: block
    margin-top: 80px

// SECTION REGRAS //
.section-regras
    background: $bgGray
    font-family: 'Roboto', sans-serif
    font-weight: 300
    font-size: 1em
    padding-bottom: 100px
    .sobre
        margin: 15px 0px
        h3
            text-align: center
            padding: 10px 0px
        p
            padding: 10px 0px
            text-align: justify
    .art-equipe
        width: 100%
        .content-regras
            width: 100%
            p
                border-bottom: 1px solid #f1f1f1
                padding: 30px 0px
                text-align: justify
                span
                    color: #f00
                    font-weight: bold
                &:last-child
                    border: none
            .runas
                width: 100%
                text-align: center
                display: block
                padding: 30px 0px 10px 0px
                img
                    width: 50px
                    height: 50px
            .obs
                background: #FFFF00
                margin: 15px 0px
                padding: 5px 0px
                font-weight: bold

// SECTION EQUIPE //
.equipe
    width: 100%
    background: $bgGray
    font-family: 'Roboto', sans-serif
    .flex
        display: flex
        flex-wrap: wrap
        flex-direction: row
        justify-content: center
        .box
            background-color: #fff
            width: 200px
            min-width: 248.212px
            text-align: center
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
            margin: 10px
            img
                width: 100%
                height: 200px
            h3
                font-size: 1em
                text-transform: uppercase
                font-weight: 400
                padding: 10px 0px
            p
                font-size: .8em
                font-weight: 300
                padding: 5px 0px 10px 0px

// FOOTER //
footer.footer
    height: 80px
    background-color: #000
    text-align: center
    font-family: 'Lato', sans-serif
    font-size: 1em
    p
        color: #fff
        span
            color: #6666FF
            font-weight: bold

// ********************************** //
// ***** PAINEL ADMINISTRATIVO ****** //
// ********************************** //
.membros
    background-color: $bgGray

table
    max-width: 100%
    background-color: transparent
    border-collapse: collapse
    border-spacing: 0
    font-family: arial

.table
    width: 100%
    margin-bottom: 20px

.table
    th, td, tr
     font-size: 12px
     padding: 8px

     text-align: center
     vertical-align: middle
     background-color: #005dab

.table td:last-child
    border-right: 0

.table thead th
    font-weight: normal
    background-color: #005dab
    color: #fff
    font-size: 15px

.table tbody > tr:nth-child(odd) > td,
.table tbody > tr:nth-child(odd) > th
    background-color: #C9DFF0

.table tbody > tr:nth-child(even) > td,
.table tbody > tr:nth-child(even) > th
    background-color: #f1f1f1

select
    width: 100%
    border: 1px solid #fff
    background-color: inherit
    padding: 2px
button
    padding: 4px
    width: 100%
    border: none
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6e07c1), color-stop(100%,#A02BFF))
    background-color: #9926F6
    color: #fff
    border: 1px solid #fff


@media (max-width: 767px)
    .table-responsive
        display: block
        position: relative
        width: 100%
        thead, tbody, th, td, tr
            display: block
        td, th
            height: 40px
        thead
            float: left
        tbody
            width: auto
            position: relative
            overflow-x: auto
            -webkit-overflow-scrolling: touch
            white-space: nowrap
            tr
                display: inline-block


// ********************************** //
// ***** STATES MONSTERS ****** //
// ********************************** //
.states
    font-size: 1em
    background-color: $bgGray
.alinhar
    margin: 0 auto
    max-width: 500px
    .stat-head
        span
            color: #f00
    input
        width: 30%
        padding: 9px 5px
        display: block
        border: 1px solid #ccc
    .select-monsters
        width: 100%
        background: #fff
        color: #000
        border: 1px solid #ccc
    ul
        margin: 10px 0px
        border: 1px solid #ccc
        width: 100%
        color: #fff
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF))
        li
            width: 100%
            display: table
            padding: 5px 10px
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF))
            border-bottom: 1px dotted #fff
            &:last-child
                border-bottom: transparent
            i
                width: 20px
                height: 20px
                text-align: center
            label

            span
                text-align: right
                display: table-cell
                color: #f00
                font-weight: bold

    select
        width: 100%
        padding: 10px 5px
        margin: 5px 0
        text-align: center
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #A02BFF), color-stop(100%, #00CEFF))
        outline: none
        border: none
        color: #fff
        option
            font-size: 15px
        .power
            background: #f00
        .life
            background: #0f0
        .speed
            background: yellow
        .stamina
            background: #00f
            color: #fff
    button
        padding: 10px
        width: 100px
        margin: 5px 0px
        border: none
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6e07c1), color-stop(100%,#A02BFF))
        background-color: #9926F6
        color: #fff
        border: 1px solid #fff

// ********************************** //
// ***** MODAL ****** //
// ********************************** //
.modal
    width: 100%
    height: 100%
    padding-top: 20px
    background-color: rgb(0,0,0)
    background-color: rgba(0,0,0,.8)
    position: fixed
    top: 0
    left: 0
    z-index: 110
    overflow-y: auto
    display: none
    .modal-content
        font-family: 'Open Sans', 'sans-serif'
        text-align: center
        width: 92%
        max-width: 800px
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
        background: #f1f1f1
        position: relative
        margin: auto
        float: none
        .modal-header
            border-bottom: 1px solid #f1f1f1
            color: #fff
            background: #8744FF
            padding: 20px
            .close
                font-size: 2em
                top: -5px
                right: 5px
                position: absolute
                color: #fff
                font-weight: bold
                cursor: pointer
        .modal-body
            min-height: 100px

        .modal-footer
            border-top: 1px solid #f1f1f1
            padding: 10px 20px 20px 20px
            text-align: right
            a
                text-decoration: underline


@keyframes animatedtop
    0%
        opacity: 0
        transform: scaleX(0) skewX(30deg)

    50%
        transform: scale(0) skewX(30deg)
    100%
        top: 0
        opacity: 1
        transform: scale(1) skewX(0)

@keyframes animatedback
    from
        top: 0%
    to
        top: -100%

// ********************************** //
// ***** FORMULÁRIO LOGIN ****** //
// ********************************** //
.form-login
    width: 100%
    font-size: 1em
    padding: 20px
    display: block
    label, input
        display: block
        width: 100%

    label
        text-align: left
        margin: 20px auto
    input
        font-family: 'Open Sans', 'sans-serif'
        padding: 15px 10px
        font-size: 1em
        border: none
        background: #fff
    input[type=submit]
        background: #8744FF
        border: none
        color: #fff